<h1><img src='{{0.flags.svg}}' alt='Флаг страны {{0.name.official}}' />
  {{0.name.official}}</h1>
<ul>
  <li><b>Capital:</b> {{0.capital}}</li>
  <li><b>Population:</b> {{0.population}}</li>
  <li><b>Languages:</b> {{languages}}</li>
</ul>